h1, h2 {
    text-align: center;
}

div {
    text-align: center;
}

table{
    text-align: center;
    margin: 0 auto;
    margin: 5%;
}
table,tr,td{         
    border: 2px solid black;
    border-collapse:collapse ;
    background-color: white;

}
td {width: 100px;
    height: 100px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}