table{
    text-align: center;
    margin: auto;
    margin: 5%;
}
table,tr,td{         
    border: 2px solid black;
    border-collapse:collapse ;
    background-color: white;

}
td {width: 50px;
    height: 50px;
    text-align: center;
}


.bandera {
    background-image: url(../imagenes/flag-fill.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.interrogante {
    background-image: url(../imagenes/question-lg.svg);
    background-repeat: no-repeat;
    background-position: center;
}